body {
  font-family: 'Times New Roman', Times, serif;
  background:  hsl(0, 0%, 98%);
}

.yolo {
  width: 70%;
  background: white;
  border: 5px solid hsl(180, 62%, 55%);
  border-radius: 10px;
  box-shadow: 0 0 15px hsl(229, 6%, 66%);
}

#unicorn {
  color: mediumslateblue;
}
